html, body {
    background-color: #0081AF;
    margin: 0;
    height: 100%;
    font-family: sans-serif;
}

#header {
    text-align: center;
}

#gameArea {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

#outerCircle {
    width: 250px;
    height: 250px;
    background-color: darkblue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

#innerCircle {
    width: 75px;
    height: 75px;
    background-color: blue;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bigTheCat {
    width: 60px;
    height: 60px;
}